rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /setups/{setupId} {
      allow read, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /items/{itemId} {
      allow read, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /prayerLogs/{logId} {
      allow read, delete: if request.auth != null && (resource == null || resource.data.userId == request.auth.uid);
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /prayerSettings/{userId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}

